#essentia_collection  h2 {
    margin: 32px;
    text-align: center;
}

.card-perfume {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 16px;
    box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
}

.card-perfume > img {
    border-radius: 8px;
    width: 100%;
}

.card-perfume > a {
    color: #FFF;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    margin: 12px;
}

.paragraph-container {
    padding: 20px;
    width: 90%;
    height: 50%;
    margin: 0 auto; 
}

.paragraph-container h3 {
    margin-bottom: 16px;
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
}

.paragraph-container > p {
    text-align: justify;
    font-style: italic;
}
