#fragrance-gateway {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fragrance-gateway h2 {
    text-align: center;
    margin: 12px;
}

#fragrance-gateway a {
    margin: 20px;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections a {
    position: relative; /* Para posicionar o texto corretamente */
    display: block;
    overflow: hidden; /* Evita que elementos saiam da área do link */
    width: 60%;
}

.sections img {
    width: 100%;
    display: block;
    transition: filter 0.3s ease-in-out;
}

.sections a::after {
    content: "Ver";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: white;
    opacity: 0;
    transition: opacity .3s linear;
}

/* Efeito no hover */
.sections a:hover img {
    filter: blur(5px);
}

.sections a:hover::after {
    opacity: 1;
}