.small-screen {
    display: block;
}
.big-screen {
    display: none;
}

#header {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    transition: all .2s ease;
}

#header h1 {
    margin: 10px;
    color: #e6b23b;
}

#header nav {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#header span {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFF;
    margin: 0 10px;
}

#header a:hover{
    text-decoration: underline;
}

.actived {
    background-color: var(--color1);
}
