.small-screen {
    display: none;
}
.big-screen{
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    flex-flow: row nowrap;
}

header h1 {
    margin: 20px;
    color: #e6b23b;
}

header nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

header a {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFF;
    margin: 0 10px;
}

header a:hover{
    text-decoration: underline;
}
