@media screen and (min-width: 320px) and (max-width: 767px) {
    .small-screen {
        display: block;
    }
    .big-screen{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .small-screen {
        display: block;
    }
    .big-screen{
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 8fr;
        grid-template-areas:
        "title icons"
        "content menu-hamburguer";
        height: 100%;
    }
    header h1 {
        background-color: var(--color1);
        margin: 0;
        padding: 20px;
        grid-area: title;
    }
    #icons{
        background-color: var(--color1);
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: icons;
    }
    header #menu-hamburguer{
        grid-area: menu-hamburguer;
    }
    #menu-hamburguer{
        background-color: var(--color1);
        height: 100%;
    }
    #menu-hamburguer ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
        margin: 36px;
    }
    #menu-hamburguer li {
        padding: 4px 0;
    }
}
@media screen and (min-width: 992px) {
    header:hover{
        transition: all .3s linear; 
        background-color: var(--color1);
    }
}